<!DOCTYPE html>
<html>
<head>
  <title>Filmster</title>
  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <p class="navbar-text navbar-left"><%= link_to 'Filmster', root_path %></p> 
      <p class="nav_links pull-right"><%= link_to 'Edit Profile', edit_user_registration_path %></p>
       </div>

 <%= render 'shared/flash_messages' %>
<%= yield %>


</body>
</html>
